# Dependencies
node_modules/

# Build output
dist/
.next/

# Environment variables
.env
.env.local

# Prisma
prisma/migrations/dev.db

# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/

# OS files
.DS_Store
Thumbs.db
